@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

main{
    background-color: white;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_title{
    font-family: 'Lilita One', "cursive";
    font-size: 10vh;
    color: #F2ACC6;
    margin: 4vh 0 5vh 0;
}

label{
    font-family: 'Lilita One', "cursive";
    font-size: 4vh;
    color: #F2ACC6;
    align-self: flex-start;
    margin: 5vh 0 1vh 7vw;
}

input{
    border: none;
    background-color: #F9CDE6;
    font-size: 4vh;
    padding: 10px;
    width: 80%;
    border-radius: 20px;
    outline: none;
}

input::placeholder{
    color: rgba(161, 160, 160, 0.65);
}

.material-symbols-outlined{
    position: absolute;
    top: 50.8vh;
    right: 14vw;
    color: rgba(161, 160, 160, 0.65);
    z-index: -1;
}

#span_btn{
    margin-top: 15vh;
}

#submit{
    background-color: transparent;
    border: 4px solid #F2ACC6;
    font-size: 4vh;
    font-family: 'Lilita One', "cursive";
    color: #F2ACC6;
    padding: 0px;
    width: 70vw;
    height: 10vh; 
}

#load{
    backdrop-filter: blur(0px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -5;
}

#load_circle{
    background-color: transparent;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 20px solid #F2ACC6;
    border-top-color: #F9CDE6;
    animation: loading 1s ease-in-out infinite;  
}

#sky{
    display: none;
}

#done{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

#check{
    color: #F2ACC6;
    font-size: 30vh;
    z-index: 1;
    position: unset;
    top: 0;
    right: 0;
}

#done_title{
    font-size: 9vh;
    font-family: 'Lilita One', "cursive";
    color: #F2ACC6;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes load{
    0%{
        backdrop-filter: blur(0px);
        z-index: -5;
    }
    5%{
        backdrop-filter: blur(10px);
        z-index: 5; 
    }
    95%{
        backdrop-filter: blur(10px);
        z-index: 5; 
    }
    100%{
        backdrop-filter: blur(0px);
        z-index: -5;
    }
}

@keyframes done{
    0%{
        z-index: -1;
    }
    95%{
        z-index: -1;
    }
    100%{
        z-index: 1;
    }
}

@media screen and (min-width: 1024px){
    body{
        background-color: #F2ACC6;
        display: flex;
        justify-content: center;
    }
    main{
        margin-top: 11.5vh;
        background-color: white;
        width: 880px;
        height: 500px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #sky{
        display: block;
        width: 50%;
        height: 100%;
        background-image: url("sky.png");
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px 0 0 20px;
    }
    #login{
        width: 50%;
    }
    #login_title{
        font-size: 60px;
        margin: 5vh 0 4vh 0;
    }
    label{
        align-self: flex-start;
        font-size: 30px;
        margin: 2vh 0vw 2vh 3vw;
    }
    input{
        font-size: 25px;
        padding: 10px;
    }
    #span_btn{
        margin-top: 7vh;
    }
    #submit{
        background-image: linear-gradient(to right, #F2ACC6 50%, transparent 50%);
        background-size: 200%;
        border: 4px solid #F2ACC6;
        font-size: 4vh;
        font-family: 'Lilita One', "cursive";
        color: #F2ACC6;
        padding: 0px;
        width: 20vw;
        height: 10vh; 
        cursor: pointer;
        background-position: 100%;
        transition: background-position 0.5s;
        
    }
    .material-symbols-outlined{
        position: absolute;
        top: 59vh;
        right: 22vw;
        color: rgba(161, 160, 160, 0.65);
        cursor: pointer;
        z-index: -1;
    }

    #submit:hover{
        background-position: 0%;
        color: white;
    }

    #done{
        display: flex;
        position: absolute;
        top: 11.5vh;
        right: 17.65vw;
        border-radius: 20px;
        width: 880px;
        height: 500px;   
    }
    #load{
        position: absolute;
        top: 11.5vh;
        left: 17.8vw;
        border-radius: 20px;
        width: 880px;
        height: 500px;
    }
}
